body{
    font-family: Space Grotesk;
    margin: 0;
}

.logo{
    font-family: Permanent Marker;
    text-decoration: none;
    color:black;
}
/*
.monto{
    border: solid 1px #007fff;
    border-radius: 20px;
    margin: 5% 20%;
    height: 230px;
}
*/ 
.formulario h2{
    border-bottom: solid 1px rgba(173, 173, 173, 0.342);
    padding: 5px;
    font-size: 25px;
    color: rgb(173, 173, 173);
    text-align: center;
} 

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1400px;
    height: 700px;
    background-color: rgba(236, 236, 236, 0.795);
    border-radius: 20px;
}
form .casilla{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 30px;
}

.casilla input{
    color: rgb(99, 99, 99);
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
}

.casilla label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad63;
    transform: translateY(-50%);
    font-size: 19px;
    pointer-events: none;
    transition: .5s;
}

.casilla span::before{
    content: '';
    position:absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(27, 141, 216) ;
    transition: .5s;
}

.casilla input:focus ~ label,
.casilla input:focus ~ label{
    top: -5px;
    color: rgb(27, 141, 216);
}

.casilla input:focus ~ span::before,
.casilla input:focus ~ span::before{
    width: 100%;
}

.casilla input:focus ~ label,
.casilla input:not(:placeholder-shown) ~ label {
    top: -5px;
    color: rgb(27, 141, 216);
    font-size: 16px;
}

table{
    height: 300px;
    width: 1300px;
    border: 1px solid rgba(173, 173, 173, 0.342);
    justify-self: center;
}

tr,td,th{
    padding: 0;
    width: 25%;
    height: 10%;
}