<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="registrar_personas.php" method="post">
      
           <label for="">Nombre:</label>
        <input type="text" name="Nombre" ><br>
        <label for="">Apellido:</label>
        <input type="text" name="apellido" ><br>
        <label for="">Sexo</label>
        <input type="text" name="sexo"><br>
        
        <input type="submit" name="Registrarse">

    </form>
</body>
</html>